{% extends "base.html" %}

{% block page %}

{% filter markdown %}

<div class="alert alert-primary">
  <h4 class="alert-heading">Research Opportunities</h4>

  <p>I am recruiting PhD students. I often have
    positions available for undergraduates as well. Contact me at
    zappala@cs.byu.edu for research opportunities.</p>
</div>

# Research

I direct the [Internet Research Lab](http://internet.byu.edu) where we
conduct research on usable security and privacy. SOme of our
research is done jointly with the [Internet Security Research
Lab](http://isrl.byu.edu), led by Kent Seamons. In the past, I
conducted research in networking, including multicast routing,
peer-to-peer networking, and wireless routing and transport
protocols. As a graduate student I was lucky enough to be a part of
the RSVP project. I occasionally do some measurement work. See my
[research page](/research) and my [publications page](/publications)
for more details.

# Teaching

For many years I have taught courses in Computer Networking and
Internet Programming. Recently I have begun teaching Web Programming
Computer Security. See my [teaching page](/teaching) for more details.

# Research Artifacts

I believe that all scientists should publish their research artifacts
with every publication. This includes releasing source code,
documentation, data, scripts, user-study guides, survey text, and so
forth. We strive to provide all materials needed to replicate our
research whenever we publish a paper.

# Open Source Software

I am a regular user and occasional writer of open source software. I
run Linux natively on most of my systems (recently switching to Mac
for my laptop) and have spent a number of years mentoring students in
independent open source projects. I believe creating open source
software -- both in my research and in service to the community -- is
at the heart of [BYU's
mission](http://aims.byu.edu/p/missionstatement).

# Professional and Community Service

I currently serve as the Publicity Coordinator for ACSAC, workshop chair
for SOUPS, and am on the program committees for USENIX Security, PeTS, and
ACSAC. In the past I have served on the
Technical Program Committee for NOSSDAV, IFIP Networking, and IEEE
Infocom for a number of years. I have also chaired the BYU Family History
Technology Workshop.

I served on the planning commission and city council of [Cedar
Hills](http://cedarhills.org) for a combined seven years. I also spent
several years on the board of the Lone Peak Public Safety District and
Utah Valley Dispatch. If you are interested in serving
politically, I would be happy to talk to you about it.

{% endfilter %}

{% endblock %}