{% extends "base.html" %}

{% block page %}

{% filter markdown %}

# Schedule

If you would like to see me, please try to make it to my office
hours. If those times don't work for you, please email me for an
appointment.

### Monday

Time   | Event
-------|--------
7:00   | Class Prep
8:00   | Class Prep
9:00   | CS 465 Computer Security
10:00  | CS 601R Usable Security and Privacy
11:00  | Let's Auth
12:00  | Lunch/Email
1:00   | Torstein/Brian
2:00   | Office Hours
4:00   | Undergraduate Committee

### Tuesday

Time   | Event
-------|--------
7:00   | Funding/Writing
8:00   | Funding/Writing
9:00   | Office Hours
10:00  | Email
11:00  | Devotional
12:00  | Faculty Meetings
1:00   | James
2:00   | Women's Initiative


### Wednesday

Time   | Event
-------|--------
7:00   | Class Prep
8:00   | Class Prep
9:00   | CS 465 Computer Security
10:00  | CS 601R Usable Security and Privacy
11:00  | Service Committees
12:00  | Lunch/Email
1:00   | Office Hours
2:00   | Secure Email
3:00   | 

### Thursday

Time   | Event
-------|--------
7:00   | Funding/Writing
8:00   | Funding/Writing
9:00   | Office Hours
10:00  | Women's Initiative Meeting
11:00  | Colloquium
12:00  | Faculty Meetings
1:00   | Service Committee
2:00   | Service Committee
3:00   | Service Committee
3:00   | ACSAC Committee (2nd Thursday)
3:00   | IRB Meeting (1st Thursday)
4:00   | IRB Meeting (1st Thursday)
5:00   | IRB Meeting (1st Thursday)

### Friday

Time   | Event
-------|--------
7:00   | Women's Initiative
8:00   | Women's Initiative
9:00   | CS 465 Computer Security
10:00  | CS 601R Usable Security and Privacy
11:00  | Office Hours
12:00  | Secure Socket API
1:00   | Signal
2:00   | Advising



{% endfilter %}

{% endblock %}
