{% extends "base.html" %}

{% block page %}

{% filter markdown %}

# Schedule

If you would like to see me, please try to make it to my office
hours. If those times don't work for you, please email me for an
appointment.

## Winter 2020 Semester

### Monday

Time   | Event
-------|--------
8:00   | Class Prep
9:00   | Office Hours
10:00  | CS 260
11:00  | TA Meeting
12:00  | Music 101
1:00   | Lunch/Email
2:00   | James
3:00   | Calvin
4:00   | 

### Tuesday

Time   | Event
-------|--------
8:00   | Women's Initiative
9:00   | Let's Auth
10:00  | Women's Initiative
11:00  | Devotional
12:00  | Faculty Meetings
1:00   | Funding/Writing
2:00   | Funding/Writing
3:00   | TPCs
4:00   | TPCs
5:00   | TA Meeting


### Wednesday

Time   | Event
-------|--------
8:00   | Class Prep
9:00   | Class Prep
10:00  | CS 260
11:00  | Torstein/Brian
12:00  | Music 101
1:00   | Lunch/Email
2:00   | Secure Socket API
3:00   | Office Hours
4:00   | Secure Socket API

### Thursday

Time   | Event
-------|--------
8:00   | Funding/Writing
9:00   | Funding/Writing
10:00  | Women's Initiative
11:00  | Colloquium
12:00  | Faculty Meetings
1:00   | Women's Initiative
2:00   | Let's Auth
3:00   | Advising
3:00   | ACSAC Committee (2nd Thursday)
3:00   | IRB Meeting (1st Thursday)
4:00   | IRB Meeting (1st Thursday)
5:00   | IRB Meeting (1st Thursday)

### Friday

Time   | Event
-------|--------
8:00   | Class Prep
9:00   | Class Prep
10:00  | CS 260
11:00  | Office Hours
12:00  | Music 101
1:00   | Lunch/Email
2:00   | TPCs
3:00   | TPCs
4:00   | 


{% endfilter %}

{% endblock %}
