{% extends "base.html" %}

{% block page %}

{% filter markdown %}

# Schedule

If you would like to see me, please try to make it to my office
hours. If those times don't work for you, feel free to drop by during
any of my unscheduled hours. You are also welcome to email me for an
appointment if you need extended time.

### Monday

Time   | Event  
-------|-------- 
11:00  | Grad Committee
12:30  | Secure Messaging
1:30   | Secure Messaging
3:00   | Matt and Certificate Transparency

### Tuesday

Time   | Event  
-------|-------- 
9:00   | TrustBase
1:00   | Elham
2:00   | Office Hours
3:00   | CS 465 
    
### Wednesday

Time   | Event  
-------|-------- 
10:00  | Justin
2:00   | Women's Initiative
3:00   | SSA and Client Auth

### Thursday

Time   | Event
-------|--------
1:00   | Secure Messaging
2:00   | Office Hours
3:00   | CS 465 

### Friday

*Working from home*


{% endfilter %}

{% endblock %}
